@charset "UTF-8";
body {
    background-color: #c6eeee;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #88f0f0;
}
h1#principal {
    color: #df861b;
    text-align: center;
    background-color: #e4cfb6;
}
h2 {
    color: #9bebeb;
}
.basico {
    color: #c4710d;
}
.intermediario {
    color: #6565ec;
}
.avancado {
    color: #7c7b7b;
}
.destaque {
    background-color: #dfdf1288;
}